@charset "UTF-8";

/* ヘッダー */
.header {
  margin-bottom: 10px;
}

/* ログイン画面 */
.login {
  width: 300px;
  margin: auto;
}

/* エラーメッセージ */
.messageBox {
  color: red;

}

/* width25px */
.w25 {
  width: 25px;
  display: inline-block;
}

/* 右揃え */
.right {
float: right;
}